/*

Reflux Template

https://templatemo.com/tm-531-reflux

*/

@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

body {
    font-family: 'Lato', sans-serif;
}

#page-wraper {
    background: url(../images/20230612_134657xxxxxxx.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}


/* Basic */

body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 2px solid #fff;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
    color: #8c363e;
}

/* Sidebar Menu */

.menu .image {
    margin-top: 60px;
}

.menu .image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

.image-2 {
    display: none;
}




.menu .author-content {
    margin: 40px 0px 60px 0px;
}

.menu .author-content h4 {
    margin-bottom: 0px;
}

.menu .author-content span {
    font-size: 13px;
    font-style: italic;
    color: #fff;
}

.menu .social-network {
    margin-top: 60px;
}

.menu .social-network ul li {
    margin: 0 3px;
}

.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 18px;
    transition: all 0.5s;
}

.menu .social-network ul li a:hover {
    background-color: #fff;
    color: #a43f49;
}

.menu .copyright-text {
    position: relative;
    margin-top: 60px;
}

.menu .copyright-text p {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 10%;
    -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    -webkit-overflow-scrolling: touch;
    background-color: #a43f49;
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh !important;
    max-width: 80vw !important;
    min-width: 45px !important;
    outline: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0;
    position: fixed !important;
    top: calc(0px);
    width: 20%;
    will-change: transform;
    z-index: 9999 !important;
}

.menu-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    right: 25px;
    top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: #a43f49;
    background-color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.menu-close {
    cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #a43f49;
    background-color: #fff;
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}


/* Section */

.section {
    color: #fff;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    /*  */
    min-height: 20vh;
    padding-bottom: 0px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25) !important;
}

.section-heading {
    text-align: center;
    padding: 80px 45px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading h4 {
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.section-heading .line-dec {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    width: 60px;
    height: 3px;
    background-color: #a43f49;
    margin: 10px auto;
}

.section-heading .line-dec-2 {
    margin-top: 70px !important;
    margin-bottom: 20px !important;
    width: 100%;
    height: 2px;
    background-color: rgb(102, 102, 102);
    margin: 10px auto;
}

.section-heading .line-dec-3 {
    margin-top: 5px !important;
    margin-bottom: 25px !important;
    width: 10%;
    height: 2px;
    background-color: rgb(102, 102, 102);
}

.svg-note {
    position: relative;
    bottom: 7px;
}

.notes {
    text-align: center !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style-type: none;
}


.notes li a {
    font-size: 20px;
    color: rgba(221, 221, 221, 0.973);
    font-weight: 700;
    text-decoration: none;
    transition: 300ms;
    -webkit-transition: 200ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.notes li a:hover {
    color: #c44350;
}

.minus {
    font-size: 16px !important;
}

.sources a {
    color: rgba(214, 213, 213, 0.884);
    text-decoration: none;
    font-style: italic;
    transition: 300ms;
    -webkit-transition: 200ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.sources a:hover {
    color: #8c363e;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
}

/* skills */

.skills-li {
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-li li {
    height: 120px;
    width: 100px;
}

.svg-skill {
    width: 90px;
}

.bold {
    font-weight: 900;
}




/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color: #a43f49;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #a43f49;
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #a43f49;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #a43f49;
    color: #fff;
}


/* Left & Right Post */

.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.left-image img,
.right-image img {
    border-radius: 5px;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 30px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 30px;
}


/* my projects --------------------------------- */

.isotope-toolbar span {
    font-size: 17px !important;
}

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.utilities-used {
    display: flex;
    flex-direction: column
}

.service-item {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 40px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
}

.service-item h4 {
    padding-bottom: 15px;
    transition: all 0.5s;
}

.service-item p {
    transition: all 0.5s;
    line-height: 15px !important;
    
}

.f-kind {
    font-style: italic;
    color: #b3b0b0;
    margin-right: 4px;
    font-size: 15px;
}

.service-item:hover {
    background-color: rgba(250, 250, 250, 1);
}

.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #4a4a4a;
}

.service-item .service-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.service-item .first-service-icon {
    background-image: url(../images/first-white-icon.png);
}

.service-item:hover .first-service-icon {
    background-image: url(../images/first-main-icon.png);
}

.service-item .second-service-icon {
    background-image: url(../images/second-white-icon.png);
}

.service-item:hover .second-service-icon {
    background-image: url(../images/second-main-icon.png);
}

.service-item .third-service-icon {
    background-image: url(../images/third-white-icon.png);
}

.service-item:hover .third-service-icon {
    background-image: url(../images/third-main-icon.png);
}

.service-item .fourth-service-icon {
    background-image: url(../images/fourth-white-icon.png);
}

.service-item:hover .fourth-service-icon {
    background-image: url(../images/fourth-main-icon.png);
}


/* My Work */

section.my-work .section-heading {
    padding: 80px 45px 50px 45px;
}

.isotope-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}

.isotope-toolbar input[type="radio"] {
    display: none;
}

.isotope-toolbar span {
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transform: ease-in-out 0.5s;
    cursor: pointer;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}

.isotope-toolbar span:hover {
    color: #8c363e;
}

.isotope-toolbar input[type="radio"]:checked+span {
    color: #a43f49;
    border-bottom: 2px solid #a43f49;
}

.tools-btn {
    text-transform: none;
    margin-bottom: 10px;
    font-size: 12px;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(140, 54, 62, 0.4);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.isotope-box {

    position: relative;
    width: 100%;
}

.isotope-toolbar {
    text-align: center;
    margin: 10px;
}

.isotope-toolbar p {
    border-top: 1px solid #fff;
    padding-top: 15px;
}

.isotope-toolbar a {
    color: #fff;
}

.isotope-item {
    position: relative;
    width: 98%;
    margin: 1%;
    background-color: rgba(250, 250, 250, 0.1);
    border-bottom: 2px solid rgba(250, 250, 250, 0.1);
    margin-bottom: 30px;
}

.isotope-item img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.thumbnail-img {
    max-width: 200px;
    min-width: 130px;
}

.lazyload {
    background: #f7f7f7;
}

.lazyloading {
    background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
    min-height: 60px;
}

figure.snip1321 {
    overflow: hidden;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 0em;
}

figure {
    margin: 0;
}

figure.snip1321 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

figure.snip1321 figcaption {
    top: 50%;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

figure.snip1321 h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #232323;
}

figure.snip1321 span {
    font-size: 14px;
    font-style: italic;
    display: block;
    color: #7a7a7a;
}

figure.snip1321 i {
    position: relative !important;
    font-size: 18px;

    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
}

figure.snip1321:after {
    backdrop-filter: blur(2px);
    transition: backdrop-filter 0.4s ease;
    position: absolute;
    content: "";
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; */
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
}

figure.snip1321 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure.snip1321:hover:after,
figure.snip1321.hover:after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.9;
}

.container-fig {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn-figcaption {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding: 3px 20px 3px 10px !important;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff !important;
    cursor: pointer;
}


.web-btn {
    background-color: #007bff;

}

.github-btn {
    background-color: #000;
}

.fa {
    padding: 0;
}


/* Stats */

section.contact-me {
    border-bottom: none;
}

:root {
    --color-calendar-graph-day-bg: rgb(221, 219, 219, 0.5);
    --color-calendar-graph-day-L4-bg: #ee4747;
    --color-calendar-graph-day-L3-bg: #c24040;
    --color-calendar-graph-day-L2-bg: #943131;
    --color-calendar-graph-day-L1-bg: #6b2323;
}

rect.ContributionCalendar-day[data-level='0'] {
    fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level='1'] {
    fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level='2'] {
    fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level='3'] {
    fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level='4'] {
    fill: var(--color-calendar-graph-day-L4-bg);
}

.calendar .width-full>.float- {
    display: none;
}

.calendar-container {
    overflow: hidden;
}

.calendar {
    float:right;
   
    font-family: Helvetica, arial;
    border: none;
    border-radius: 3px;
    min-height: 243px;
    text-align: center;
    margin: 0 auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {

    font-size: 10px;
    fill: #aaa;
}

.contrib-legend {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

.contrib-legend .legend {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small {
    font-size: 12px;
    color: #767676;
}

.calendar-graph {

    padding: 5px 0 0;
    text-align: center;
}

.contrib-column {
    padding: 15px 0;
    text-align: center;
    border-left: none;
    border-top: none;
    font-size: 11px;
}

.contrib-column-first {
    border-left: 0;
}

.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #333;
}

.calendar img.spinner {
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.calendar a {
    visibility: hidden;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
}

.left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
}

.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}

.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
}

#user-activity-overview {
    display: none;
}

.day-tooltip {
    white-space: nowrap;
    position: absolute;
    z-index: 99999;
    padding: 10px;
    font-size: 12px;
    color: #959da5;
    text-align: center;
    background: rgba(0, 0, 0, .85);
    border-radius: 3px;
    display: none;
    pointer-events: none;
}

.day-tooltip strong {
    color: #dfe2e5;
}

.day-tooltip.is-visible {
    display: block;
}

.day-tooltip:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    margin: 0 0 0 -5px;
    content: " ";
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, .85)
}

text.ContributionCalendar-label {
    fill: #ccc;
    font-size: 11px;
}


/* most used languages --------------------- */

.header {
    font: 600 18px 'Segoe UI', Ubuntu, Sans-Serif;
    fill: #fff;
    animation: fadeInAnimation 0.8s ease-in-out forwards;
}

@supports(-moz-appearance: auto) {

    /* Selector detects Firefox */
    .header {
        font-size: 15.5px;
    }
}

@keyframes slideInAnimation {
    from {
        width: 0;
    }

    to {
        width: calc(100%-100px);
    }
}

@keyframes growWidthAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.stat {
    font: 600 14px 'Segoe UI', Ubuntu, "Helvetica Neue", Sans-Serif;
    fill: #9f9f9f;
}

@supports(-moz-appearance: auto) {

    /* Selector detects Firefox */
    .stat {
        font-size: 12px;
    }
}

.bold {
    font-weight: 700
}

.lang-name {
    font: 400 11px "Segoe UI", Ubuntu, Sans-Serif;
    fill: #9f9f9f;
}

.stagger {
    opacity: 0;
    animation: fadeInAnimation 0.3s ease-in-out forwards;
}

#rect-mask rect {
    animation: slideInAnimation 1s ease-in-out forwards;
}

.lang-progress {
    animation: growWidthAnimation 0.6s ease-in-out forwards;
}



/* Animations ------------------- */
@keyframes scaleInAnimation {
    from {
        transform: translate(-5px, 5px) scale(0);
    }

    to {
        transform: translate(-5px, 5px) scale(1);
    }
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* ------------------------------------------ */

@media screen and (max-width: 1680px) {
    .menu {
        left: 5%;
    }

    .section {
        color: #fff;
        width: 65%;
        right: 5%;
        left: 30%;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) {
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .menu .social-network ul li {
        margin: 0;
    }

    .menu .image {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1425px) { 
    .contrib-column {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }
}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}

@media screen and (max-width: 845px) {


    #menu-toggle,
    #menu-close {
        display: inline-block;
    }

    .section-heading {
        text-align: center;
        padding: 40px 25px;
    }

    .image-2 img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .about {
        display: none;
    }


    .image-2 {
        display: block;
    }


    .menu {
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }

    .menu .image {
        margin-top: 40px;
    }

    .menu .image img {
        width: 120px;
        height: 120px;
    }

    .menu .author-content {
        margin: 20px 0px 40px 0px;
    }

    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
    }

    .skills-li li {
        height: 100px;
        width: 90px;
        margin-bottom: 15px;
    }
    
    .svg-skill {
        width: 80px;
    }

    .service-item p {
        transition: all 0.5s;
        line-height: 20px !important;
    }


    .responsive-nav {
        display: inline-block;
    }


    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }

    .isotope-item {
        width: 94%;
        margin: 3%;
    }

    .left-image-post img {
        margin-bottom: 30px;
    }

    .right-image-post img {
        margin-top: 30px;
    }

    .isotope-item {
        border-bottom: none;
        text-align: center;
    }

    .isotope-toolbar {
        margin-bottom: 20px;
    }

    .notes li a {
        font-size: 18px;
    }
}

@media screen and (max-width: 814px) {

    .card-2 {
        background-color: red !important;
        text-align: center !important;
        margin-left: 0px !important;
    }

    .software-div {
        text-align: center !important;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        list-style-type: none;
    }

   
    
}
